@import url('docs.css');
@import url('./b-datepicker/b-datepicker.css');

.sidebar-nav {
    top: 70px;
}

.well {
    padding: 15px 0;
    margin: 40px 0 0;
}

.accordion-group.active .accordion-toggle {
    font-weight: bold;
}

.gap-left-out_10 {
    margin-left: 10px;
}

.sidebar {
    position: relative;
    float: left;
    width: 290px;
}

.sidebar__inner {
    padding: 0 5px;
    overflow: auto;
}

.sidebar_type_left {
    padding: 0 0 0 10px;
    margin-right: -310px;
    left: 0;
}

.sidebar_type_right {
    padding: 0 10px 0 0;
    margin-left: -310px;
    right: 0;
}

.main {
    width: 100%;
    float: left;
}

.main__inner {
    padding: 0 310px;
}

body .alert {
    position: relative;
    padding-right: 10px;
}

body .alert .close {
    position: absolute;
    top: 0;
    right: 3px;
}

body .breadcrumb {
    margin: 20px 0 0;
}