@import url('docs.css');

.sidebar-nav {
    top: 70px;
}

.well {
    padding: 15px 0;
    margin: 40px 0 0;
}

.accordion-group.active .accordion-toggle {
    font-weight: bold;
}

.gap-left-out_10 {
    margin-left: 10px;
}